*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard{
    display:flex;
    justify-content: space-between;
 
}
.sidebar{
    background-color: #22763A;
    width: 20%;
    color: white;
    padding: 10px;
    height: 100vh;
}
.asset-management{
    margin: 10px 0;
}
.dashboard-link:nth-child(2){
    justify-content: flex-start !important;
}
.dashboard-link, .asset-management p{
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 20px;
    gap: 10px;
    justify-content: space-between;
}
.sub-child{
    display: flex;
    flex-direction: column;
    gap: 2px !important;
    align-items: flex-end;
    margin: 0;
}
.sub-child a:nth-child(1){
  margin-bottom: -13px;

}

.main-panel{
    /* background-color: red !important; */
    height: 100vh;
    width: 79.9%;
    
}