::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #22763a;
  border-radius: 10px;
}

.choices__inner {
  background-color: white !important;
  padding: 7.5px 0px 0px !important;
  overflow: visible !important;
  border-radius: 0.4rem !important;
}

.dYrfwz > input {
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #22763a;
  border-radius: 10px;
}

.choices__inner {
  background-color: white !important;
  padding: 7.5px 0px 0px !important;
  overflow: visible !important;
  border-radius: 0.4rem !important;
}

.dYrfwz > input {
  padding: 0 !important;
}
.col{
  width: 200px;
}
.col{  
  width:250px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction:column ;
  gap: 18px;
}
.col h1{
  font-size: 21px;
  font-weight: bolder;

}
.getstarted-btn{
  background-color: #00763A;
  padding: 10px 30px;
  color: white;
  border-radius: 30px;
margin-bottom: 30px;

}
.getstarted-btn:hover{
  letter-spacing: 3px;
  transition: 0.5s;
}
*{
  margin: 0;
  padding: 0;
}
.col:hover{
  transform: translateY(-30px);
  cursor: pointer;
  transition: 1s;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}
@media(max-width:900px){
  .col{
   padding: 30px;
    width: 100%;
  }
  header{
    height: auto !important;
     flex-direction: column;
     
  }

}