
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #10284E;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #22763A;
    border-radius: 10px;
}

